:root{
    --bgcolor: #0D353F;
    --link: #017979;
    --brown: #8D4C27;
    --hover: #F57D6C;
    --text: #F6F5C7;
}

body {
    background-color: var(--bgcolor);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

grid {
    display: grid;
    grid-template-columns: 1fr 100%;
}

#nav-bar{
    margin-left: 1rem;
    margin-right: 3rem;
}

#main {

}

p h2{
    color: var(--text);
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    color: var(--hover);
}

.text-main {
    font-size: 2rem;
    text-wrap: normal;
    line-height: 3rem;
    margin: 1.5rem;
    text-align: left;
    color: var(--text);
}

.subtext{
    font-size: 1rem;
    text-wrap: normal;
    line-height: 1.5rem;
    margin: 0.5rem;
    text-align: left;
    color: var(--text);
}

.text-main a:hover{
    color: var(--hover);
}