/*
:root{
    --bgcolor: #0D353F;
    --link: #017979;
    --brown: #8D4C27;
    --hover: #F57D6C;
    --text: #F6F5C7;
}
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgcolor);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header {
    display: inline-block;
    width: 100%;
    height: 150px;
    text-align: left;
    padding-left: 2rem;
    font-size: 100px;
    font-weight: 750;
    color: red;
    font-stretch: extra-expanded;
}

grid {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0.25rem;
}

.nav-bar{
    font-size: 18px;
    position: sticky;
    align-self: start;
    font-weight: 300;
    color: #333;
    top: 2rem;
}

.nav-bar a{
    transition: all 50ms ease-in-out;
    text-decoration: none;
    color: black;
}

.nav-bar a:hover{
    cursor: pointer;
    color: red;
}

.nav-bar ul,ol {
    list-style: none;
}

li {
    margin-bottom: 0.25rem;
}

.main {
    text-align: left;
    font-size: 12px;
    width: 75%;
    margin: auto;
    border-style: solid;
    border-color: #808080;
    border-width: 5px;
    border-radius: 5px;
    padding: 5px 20px 20px;
}

.main h2
{
    text-align: left;
    font-size: 20px;
}

#link-icons {
    font-size: 2.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

#link-icons a {
    color: black;
}

#link-icons a:hover {
    color: red;
}

.dates {
    margin: 0;
    padding-bottom: 0.5rem;
    font-style: italic;
}

.subheading{
    margin: 0;
}

.subsubheading {
    margin: 0;
}

.heading {
    margin-bottom: 0.5rem;
    font-stretch: expanded;
}

.main-text {
    margin: 0.5rem;
    font-weight: lighter;
}

.text {
    margin: 0.5rem;
}

