:root{
  --bgcolor: #fffff;
  --link: red;
  --extra: blue;
  --hover: blue;
  --text: #000000;
}

body {
  background-color: var(--bgcolor);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p h2{
  color: var(--text);
}

a{
  text-decoration: none;
  color: var(--link);
}

a:hover{
  color: var(--hover);
}

.hidden {
  display: none;
}

#profile-pic {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  top: 3%;
  margin-top: 2rem;
  margin-right: 4rem;
  float: right;
  border: 3.5px solid var(--extra);
}

.section{
  border-bottom: 3.5px solid var(--extra);
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
  color: var(--text);
}

.text-main {
  font-size: 2rem;
  text-wrap: normal;
  line-height: 3rem;
  margin: 1.5rem;
  text-align: left;
  color: var(--text);
}

.subtext{
  font-size: 1rem;
  text-wrap: normal;
  line-height: 1.5rem;
  margin: 0.5rem;
  text-align: left;
  color: var(--text);
}

.text-main a:hover{
  color: var(--hover);
}

#icons {
  font-size: 2.3rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}

#things {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.grid img {
  border: solid 5px var(--extra);
  max-width: 80%;
  width: auto;
  height: 350px;
}

.grid span{
  margin-top: 0.1rem;
}

@media (max-width: 500px) {
  .text-main {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0.1rem;
  }

  .subtext{
    font-size: 0.5rem;
    margin: 1rem;
    text-align: center;
    position: relative;
  }
}

@media (max-width: 768px) {
  #things {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .grid {
    height: auto;
    padding-bottom: 20px;
  }

  .grid img {
    height: 300px;
  }
}
